node_modules/
dist/
dist-ssr/
build/
coverage/
playwright-report/
test-results/
.env
.env.*
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.run/
*.iml
*.iws
/out/
.intellijPlatform
.idea_modules/

.DS_Store
Thumbs.db